@import '../../../utils/colorUtil.scss';
@import '../../../utils/medias.scss';

.day-resume {
    display: grid;
    margin: 0 auto;
    min-height: 150px;
    height: 100px;
    width: 90%;

    .day-month,
    .holiday,
    .day-of-week {
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .day-month,
    .holiday {
        background-color: $color-salmon;
        color: white;
    }

    .day-month {
        background-color: $color-salmon;
        border-radius: 15px 15px 0 0;
    }

    .day-of-week {
        background-color: white;
        border-radius: 0 0 15px 15px;
    }
}