@import '../../../utils/colorUtil.scss';

.dropdown-select {
    background: $color-blue;
    background-position: 205px center;
    border: 0px;
    color: #fff;
    font-size: 18px;
    margin-top: 15px;
    outline: 0px;
    padding: 13px 20px 13px 12px;
    text-indent: 0.01px;
    text-overflow: "";

    ::-ms-expand {
        display: none;
    }
}